@model web.Models.Viajes

@{
    ViewBag.Title = "Eliminar proceso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-6 col-md-offset-3">
    <h4>¿Realmente desea eliminar este proceso?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Viaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Viaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionViaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionViaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdPaisOrigen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Origen.Pais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdPaisDestino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destino.Pais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.EditorFor(modelItem => Model.FechaInicio, new { htmlAttributes = new { @class = "editFechaToDisplay", @disabled = "disabled", @style = "" } })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>

        <dd>
            @Html.EditorFor(modelItem => Model.FechaFin, new { htmlAttributes = new { @class = "editFechaToDisplay", @disabled = "disabled", @style = "" } })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViaViaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViaViaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClasificacionViaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClasificacionViaje)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-center">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> 
            @Html.ActionLink("Cancelar", "Index",null, new { @class="btn btn-success"})
        </div>
    }
</div>
