@model PagedList.IPagedList<web.Models.Viajes>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Mis Procesos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="position: relative;">
    <div class="row col-md-12" style="position: absolute;">
        <h2 class="col-md-3">Procesos</h2>
        <div class="col-md-5" style="top: 10px;">
            @using (Html.BeginForm())
            {
                <p>
                    <input type="submit" value="Buscar" class="btn btn-info col-md-2" style="margin-left: 5px;" />
                    @Html.TextBox("SearchString", null, new { @class = "form-control col-md-6", @style = "margin-left: 5px;" })
                </p>
            }
        </div>
    </div>
    <div style="position: absolute; top: 20px; right:0px;">
        @Html.ActionLink("Registrar Proceso", "Create", null, new { @class = "btn btn-success" })
        <br /><br />
    </div>
</div>

<div class="col-md-12" style="position: relative; top: 60px; padding-right: 0px; background-color: white;">
    <table class="table table-bordered table-condensed table-responsive table-striped table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Viaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DescripcionViaje)
            </th>
            <th style="width: 12%;">
                @Html.DisplayName("Destino")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().FechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ViaViaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ClasificacionViaje)
            </th>
            <th>
                @Html.DisplayName("Anticipo")
            </th>
            <th>
                @Html.DisplayName("Liquidación")
            </th>
            <th style="width: 15%;">Opciones</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Viaje)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescripcionViaje)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destino.Pais)
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.FechaInicio, new { htmlAttributes = new { @class = "editFechaToDisplay", @disabled = "disabled", @style = "" } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.FechaFin, new { htmlAttributes = new { @class = "editFechaToDisplay", @disabled = "disabled", @style = "" } })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ViaViaje)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClasificacionViaje)
                </td>
                <td>
                    @{ 
                        var anti = "Sin anticipo";
                        if (item.Anticipos.Where(a => a.Eliminado != true).Count() > 0)
                        {
                            anti = item.Anticipos.Where(a => a.Eliminado != true).First().IdEstado.ToString();
                        }
                    }
                    @anti
                </td>
                <td>
                    @{
                        var liqui = "Sin Liquidación";
                        if (item.LiquidacionesViaje.Where(l => l.Eliminado != true).Count() > 0)
                        {
                            liqui = item.LiquidacionesViaje.Where(l => l.Eliminado != true).First().IdEstado.ToString();
                        }
                    }
                    @liqui
                </td>
                <td>
                    @Html.ActionLink(" ", "Gestionar", new { id = item.IdViaje }, new { @class = "btn btn-success btn-sm glyphicon glyphicon-cog", @title = "Gestionar" })
                    @Html.ActionLink(" ", "Details", new { id = item.IdViaje }, new { @class = "btn btn-info btn-sm glyphicon glyphicon-info-sign", @title = "Detalles" })
                    @if (item.Anticipos.Where(a => a.Eliminado != true).Count() == 0 && item.LiquidacionesViaje.Where(l => l.Eliminado != true).Count() == 0)
                    {
                        @Html.ActionLink(" ", "Edit", new { id = item.IdViaje }, new { @class = "btn btn-warning btn-sm glyphicon glyphicon-edit", @title = "Editar" })
                        @Html.ActionLink(" ", "Delete", new { id = item.IdViaje }, new { @class = "btn btn-danger btn-sm glyphicon glyphicon-remove-circle", @title = "Eliminar", @style = "margin-left: 4px;" })
                    }
                </td>
            </tr>
                        }

    </table>
    Mostrando de @Model.FirstItemOnPage a @Model.LastItemOnPage De @Model.TotalItemCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new
    {
        page,
        sortOrder = ViewBag.CurrentSort,
        currentFilter = ViewBag.CurrentFilter,
        SearchString = ViewBag.CurrentFilter
    }))
</div>
