@model web.ViewModels.PermisosVM

@{
    ViewBag.Title = "Asignar Accesos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Asignar Accesos</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.RolV.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.RolV.Name, "Rol",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RolV.Name, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.RolV.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.AccesoV.id_acceso, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.AccesoV.id_acceso, new SelectList(ViewBag.Accesos, "value", "Text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AccesoV.id_acceso, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="container" style="height:200px;width:500px;border:1px solid #ccc;overflow:auto;border-radius:10px; box-shadow: 2px 2px 0px grey;padding-left: 1px;padding-right: 1px;margin-left: 193px;">
            <div class="checkbox" id="m" style="padding-left: 30px;">
                @using (Html.BeginForm())
                {
                    int i = 0;


                    foreach (var item in Model.AccesosDisp)
                    {
                        <div>
                            @Html.CheckBoxFor(m => m.AccesosDisp[i].Selected, new { htmlAttributes = new { @value = Model.AccesosDisp[i].id_acceso } })
                            @Html.HiddenFor(m => m.AccesosDisp[i].id_acceso)
                            @Html.HiddenFor(m => m.AccesosDisp[i].Nombre)
                            @Html.LabelFor(m => m.AccesosDisp[i].id_acceso, Model.AccesosDisp[i].Nombre, new { htmlAttributes = new { @value = "@item.id_acceso" } })
                            <br />

                        </div>
                        i++;
                    }

                }
            </div>

        </div>
        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-success" />
                @Html.ActionLink("Cancelar", "Index",null,new { @class="btn btn-warning"})
            </div>
        </div>
    </div>
}

<div>
    
</div>

<script type="text/javascript">
         function hideNoCriterio() {
             var criterio = document.getElementById("q").value;
             var hijos = document.getElementById("m").children;
             for (var i = 0; i < hijos.length; i++) {
                 var hijo = hijos[i];
                 if (hijo.children[0].type == 'checkbox' && !hijo.children[7].textContent.includes(criterio.toLocaleUpperCase('en-US'))) {
                 //if (hijo.children[0].type == 'checkbox') {
                     //alert("Funciona hasta aqui!!")
                     hijo.style.display = 'none';
                 } else {
                     //alert("Funciona hasta aqui!!")
                     hijo.style.display = '';
                 }
             }
         }

</script>
