@model web.Models.LiquidacionesViaje

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LiquidacionesViaje</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Viaje.Viaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Viaje.Viaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAsignado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAsignado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalViaticos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalViaticos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TasaCambio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TasaCambio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAnticipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAnticipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdEstado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioMod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioMod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaMod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaMod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eliminado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eliminado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdLiquidacionViaje }) |
    @Html.ActionLink("Back to List", "Index")
</p>
