@{
    ViewBag.Title = "Bienvenido";
}

@*<label>@ViewBag.saludo</label>
@using (Html.BeginForm("Change", "Home"))
{
    <input type="submit" class="btn btn-default" value="ingles" />
    @User.IsInRole("auditor")
}*@

<p class="text-success" style="margin-top:10px;">@ViewBag.StatusMessage</p>
<div class="well" style="margin-top:30px; text-align:center;">
    <h1>Sistema de Gestión de Viáticos</h1>
    <label><strong>Bienvenido @ViewBag.usuario.FullName </strong></label> <br />
    <label><strong>Código de empleado: </strong>@ViewBag.usuario.CodigoEmpleado </label><br />
    <label><strong>Correo electrónico: </strong>@ViewBag.usuario.Email</label><br />
    <label><strong>Dirección a la que reporta: </strong> @ViewBag.usuario.Departamento.NombreDepartamento</label><br />
    <label><strong>País: @ViewBag.usuario.Pais.Pais </strong>  <strong>Tel: @ViewBag.usuario.PhoneNumber</strong> </label><br />
</div>
