@model web.Models.LiquidacionesViaje

@{
    ViewBag.Title = "Liquidación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Raw(Session["MyAlert"])
@{ Session["MyAlert"] = null;}
<h3>@Model.Viaje.Viaje</h3>
@using (Html.BeginForm("Edit", "LiquidacionesViajes", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IdLiquidacionViaje)
    @Html.HiddenFor(model => model.IdEstado)
    @Html.HiddenFor(model => model.UsuarioCrea)
    @Html.HiddenFor(model => model.UsuarioMod)
    @Html.HiddenFor(model => model.FechaCrea)
    @Html.HiddenFor(model => model.FechaMod)
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12 well well-sm" style="margin-bottom:-1px;">
                <label>1. DATOS GENERALES DEL SOLICITANTE</label>
            </div>
            @{ var usuario = Model.Viaje.Usuario;}
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <td style="padding: 0px;padding-left: 10px;">Nombre completo del solicitante</td>
                        <td style="padding: 0px;padding-left: 10px;">@usuario.FullName</td>
                    </tr>
                    <tr>
                        <td style="padding: 0px;padding-left: 10px;">Cargo laboral</td>
                        <td style="padding: 0px;padding-left: 10px;">@usuario.Puesto</td>
                    </tr>
                    <tr>
                        <td style="padding: 0px;padding-left: 10px;">Jerarquía</td>
                        <td style="padding: 0px;padding-left: 10px;">@usuario.Cargo</td>
                    </tr>
                    <tr>
                        <td style="padding: 0px;padding-left: 10px;">País en el que labora</td>
                        <td style="padding: 0px;padding-left: 10px;">@usuario.Pais.Pais</td>
                    </tr>
                    <tr>
                        <td style="padding: 0px;padding-left: 10px;">Dirección a la que reporta</td>
                        <td style="padding: 0px;padding-left: 10px;">@usuario.Departamento.NombreDepartamento</td>
                    </tr>
                    <tr>
                        <td style="padding: 0px;padding-left: 10px;">Código de empleado</td>
                        <td style="padding: 0px;padding-left: 10px;">@usuario.CodigoEmpleado </td>
                    </tr>
                    <tr>
                        <td style="padding: 0px;padding-left: 10px;">Correo electrónico</td>
                        <td style="padding: 0px;padding-left: 10px;">@usuario.Email</td>
                    </tr>
                    <tr>
                        <td style="padding: 0px;padding-left: 10px;">Teléfono</td>
                        <td style="padding: 0px;padding-left: 10px;">@usuario.PhoneNumber</td>
                    </tr>
                </tbody>
            </table>

        </div>
        @Html.HiddenFor(m => m.IdLiquidacionViaje)
        <div class="col-md-12">
            <div class="col-md-12 well well-sm" style="margin-bottom:-1px;">
                <label>2. DATOS DEL PROCESO</label>
            </div>
            <table class="table table-striped table-bordered">
                <tr>
                    <td style="padding: 0px;padding-left: 10px;">PAÍS</td>
                    <td style="padding: 0px;padding-left: 10px;">De: @Model.Viaje.Origen.Pais</td>
                    <td style="padding: 0px;padding-left: 10px;" colspan="2">Hacia: @Model.Viaje.Destino.Pais</td>
                </tr>
                <tr>
                    <td style="padding: 0px;padding-left: 10px;">CLASIFICACIÓN</td>

                    <td style="padding: 0px;padding-left: 10px;" colspan="3">@Model.Viaje.ClasificacionViaje</td>
                </tr>
                <tr>
                    <td style="padding: 0px;padding-left: 10px;">VÍA</td>
                    @{
                        var texto = "";
                        if (Model.Viaje.ViaViaje == web.Models.ViasViaje.Otra)
                        {
                            texto = ": " + Model.Viaje.ClasificacionOtro;
                        }
                        else
                        {
                            texto = "";
                        }
                    }
                    <td style="padding: 0px;padding-left: 10px;" colspan="3">@Model.Viaje.ViaViaje@texto</td>
                </tr>
                <tr>
                    <td style="padding: 0px;padding-left: 10px;">PERÍODO DEL PROCESO</td>
                    <td style="padding: 0px;padding-left: 10px;">Desde: @Model.Viaje.FechaInicio.ToShortDateString()</td>
                    <td style="padding: 0px;padding-left: 10px;">Hasta: @Model.Viaje.FechaFin.ToShortDateString()</td>
                    <td style="padding: 0px;padding-left: 10px;">Días: @Model.Viaje.Duracion</td>
                </tr>
            </table>

        </div>
    </div>


    <div class="row">
        <div class="col-md-11">
            <div class="col-md-12 well well-sm" style="margin-bottom:-1px;">
                <label>3. LIQUIDACIÓN DE GASTOS</label>
            </div>
            <table class="table table-striped table-bordered">
                <tr>
                    <th style="background-color:gray; color:black; vertical-align:middle;">MONEDA DE LIQUIDACIÓN</th>
                    <th colspan="2" style="background-color:white;">@Html.DropDownList("IdMoneda", null, htmlAttributes: new { @class = "form-control", @disabled = "true" })</th>
                    <th colspan="2" style="background-color:gray; color:black; vertical-align:middle;">TIPO DE CAMBIO</th>
                    <th colspan="2" style="background-color:white;text-align:center;">@Html.EditorFor(model => model.TasaCambio, new { htmlAttributes = new { @class = "form-control", @type = "number", @step = "0.01", @disabled = "true" } })</th>
                    @*<th style="background-color:white; border-left-color:white;"></th>*@
                </tr>
                <tr>
                    <th style="vertical-align:middle">FECHA DEL GASTO</th>
                    <th style="vertical-align:middle">MONTO</th>
                    <th style="vertical-align:middle">CENTRO DE COSTO</th>
                    <th style="vertical-align:middle">CUENTA DEL GASTO</th>
                    <th style="vertical-align:middle; max-width: 200px;">COMENTARIOS DEL SOLICITANTE</th>
                    <th style="vertical-align:middle; max-width: 200px;">COMENTARIOS DE LOS APROBADORES</th>
                    <th></th>
                </tr>
                @{ foreach (var item in Model.DetallesLiquidacion.Where(c => c.Eliminado != true))
                {
                        <tr>
                            <th style="padding: 0px; padding-left: 8px; vertical-align: middle;">@item.FechaGasto.ToShortDateString()</th>
                            <td style="padding: 0px; text-align:right; padding-right: 8px; vertical-align: middle;">@item.Monto.ToString(Model.Moneda.Simbolo+"###,##0.00")</td>
                            <td style="padding: 0px; text-align:right; padding-right: 8px; vertical-align: middle;">@item.CentroCosto</td>
                            <td style="padding: 0px; text-align:right; padding-right: 8px; vertical-align: middle;">@item.CuentaGasto</td>
                            <td style="padding: 0px; text-align:right; padding-right: 8px; vertical-align: middle;">@item.ComentariosSolicitante</td>
                            <td style="padding: 0px; text-align:right; padding-right: 8px; vertical-align: middle;">@item.ComentariosAprobador</td>
                            <td style="padding: 0px; padding-bottom:5px; text-align:center; ">
                                @Html.ActionLink(" ", "EditDet", "Procesar", new { id = item.IdDetalleLiquidacion }, new { @class = "btn btn-warning btn-xs glyphicon glyphicon-pencil", @title = "Hacer comentario del gasto" })
                            </td>
                        </tr>
                    }
                }
                <tr><td colspan="5" style="margin-top:8px; background-color:white; border-right-color:white;border-left-color:white;"></td></tr>
                <tr>
                    <td th colspan="3" style="background-color:gray; color:black;"></td>
                    <td>Moneda país visitado</td>
                    <td>Moneda país origen</td>
                </tr>
                <tr>
                    <th colspan="3" style="background-color:gray; color:black;">TOTAL LIQUIDACIÓN</th>
                    <th style="padding: 0px; text-align:right; padding-right: 8px; vertical-align: middle;">@Model.TotalAsignado.ToString(Model.Moneda.Simbolo+"###,##0.00")</th>
                    @{var ta = Math.Round((Model.TotalAsignado * Model.TasaCambio), 2).ToString(Model.Viaje.Usuario.Pais.Moneda.First().Simbolo + "###,##0.00");}
                    <th style="padding: 0px; text-align:right; padding-right: 8px; vertical-align: middle;">
                        @Html.DisplayFor(model => ta)
                    </th>
                </tr>
                @*<tr>
                    <th colspan="3" style="background-color:gray; color:black;">TOTAL ANTICIPO OTORGADO (ȼ) ($)</th>
                    @{ var tan2 = Math.Round((Model.TotalAnticipo * Model.TasaCambio), 2);}
                    <th style="padding: 0px; text-align:right; padding-right: 8px; vertical-align: middle;">@tan2</th>
                    @{ var tan = Math.Round((Model.TotalAnticipo), 2);}
                    <th style="padding: 0px; text-align:right; padding-right: 8px; vertical-align: middle;">@tan</th>
                </tr>
                <tr>
                    <th colspan="3" style="background-color:gray; color:black;">DIFERENCIA (ȼ) ($)</th>
                    @{var dif = Model.TotalAnticipo - Model.TotalAsignado; }
                    <th style="padding: 0px; text-align:right; padding-right: 8px; vertical-align: middle;">@dif</th>
                    @{ var dif2 = Math.Round((dif * Model.TasaCambio), 2);}
                    <th style="padding: 0px; text-align:right; padding-right: 8px; vertical-align: middle;">@dif2</th>
                </tr>*@
                <tr>
                    <th colspan="3" style="background-color:gray; color:black;">TOTAL ANTICIPO OTORGADO</th>
                    @{ var tan1 = Math.Round((Model.TotalAnticipo / Model.TasaCambio), 2).ToString(Model.Moneda.Simbolo + "###,##0.00");}
                    <th style="padding: 0px; text-align:right; padding-right: 8px; vertical-align: middle;">@tan1</th>
                    @*@{ var tan = Math.Round((Model.TotalAnticipo * Model.TasaCambio), 2);}*@
                    @{ var tan = Math.Round((Model.TotalAnticipo * 1), 2).ToString(Model.Viaje.Usuario.Pais.Moneda.First().Simbolo + "###,##0.00");}
                    <th style="padding: 0px; text-align:right; padding-right: 8px; vertical-align: middle;">@tan</th>
                </tr>
                <tr>
                    <th colspan="3" style="background-color:gray; color:black;">DIFERENCIA</th>
                    @{var dif = ((Model.TotalAnticipo / Model.TasaCambio) - Model.TotalAsignado);
                        var dif3 = dif.ToString(Model.Moneda.Simbolo + "###,##0.00"); }
                    <th style="padding: 0px; text-align:right; padding-right: 8px; vertical-align: middle;">@dif3</th>
                    @{ var dif2 = Math.Round((dif * Model.TasaCambio), 2).ToString(Model.Viaje.Usuario.Pais.Moneda.First().Simbolo + "###,##0.00");}
                    <th style="padding: 0px; text-align:right; padding-right: 8px; vertical-align: middle;">@dif2</th>
                </tr>
            </table>
        </div>
        <div class="col-md-1" style="padding-left:0px;">

        </div>

    </div>

    <div class="text-center row">
        @Html.ActionLink("Regresar", "IndexLiquidacion", "Procesar", new { }, new { @class = "btn btn-info", @title = "Atrás", @style = "margin-right: 4px;" })
        @Html.ActionLink("Procesar", "AprobadoLiq", "Procesar", new { id = Model.IdLiquidacionViaje }, new { @class = "btn btn-success", @title = "Procesar la liquidación", @style = "margin-right: 4px;" })
        @Html.ActionLink("Rechazar", "RechazadoLiq", "Procesar", new { id = Model.IdLiquidacionViaje }, new { @class = "btn btn-danger", @title = "Deniega la liquidación" })
        @Html.ActionLink("Descargar Excel", "GenerateExcel", "Procesar", new { id = Model.IdLiquidacionViaje }, new { @class = "btn btn-warning", @title = "Descargar Archivo FB60" })
    </div>
                        }


