@model IEnumerable<web.Models.AsistenteTesoreria>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Asistente.Nombres)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Asistente.Nombres)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdAsistente }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdAsistente }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdAsistente })
        </td>
    </tr>
}

</table>
