@model IEnumerable<web.Models.AsistenteTesoreria>

@{
    ViewBag.Title = "Asistentes de tesorería";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-offset-3 col-md-6">
    <h2>Asistentes de tesorería</h2>
    <p>
        @Html.ActionLink("Añadir Asistente de tesorería", "Create", null, new { @class = "btn btn-success" })
    </p>
    <table class="table table-bordered table-hover table-responsive table-striped">
        <tr>
            <th>
                @Html.DisplayName("Asistente")
            </th>
            <th>Opciones</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Asistente.FullName)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdAsistente }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.IdAsistente })
                </td>
            </tr>
        }

    </table>
</div>