@model PagedList.IPagedList<web.Models.LiquidacionesViaje>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Estatus Liquidaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row col-md-12" style="position: absolute;">
    <h2 class="col-md-4">Estatus de Liquidaciones</h2>
    <div class="col-md-5" style="top: 10px;">
        @using (Html.BeginForm())
            {
            <p>
                <input type="submit" value="Buscar" class="btn btn-info col-md-2" style="margin-left: 5px;" />
                @Html.TextBox("SearchString", null, new { @class = "form-control col-md-6", @style = "margin-left: 5px;" })
            </p>
        }
    </div>
</div>
<div class="col-md-12" style="position: relative; top: 60px; padding-right: 0px; background-color: white;">
    <table class="table table-bordered table-hover table-responsive table-condensed table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().NoSolicitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Viaje.Viaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Viaje.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Viaje.FechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().TotalAnticipo)
            </th>
            <th>
                @Html.DisplayName("Diferencia")
            </th>
            <th>
                @Html.DisplayName("Total Liquidación")
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Moneda.MonedaCambio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TasaCambio)
                </th>*@

            <th>
                @Html.DisplayName("Estado Solicitud")
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NoSolicitud)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Viaje.Viaje)
                </td>
                <td>
                    @{ var fi = item.Viaje.FechaInicio.ToShortDateString();}
                    @Html.DisplayFor(modelItem => fi)
                </td>
                <td>
                    @{ var ff = item.Viaje.FechaFin.ToShortDateString();}
                    @Html.DisplayFor(modelItem => ff)
                </td>
                <td style="text-align:right; padding-right: 30px;">
                    @{ var ta = item.TotalAnticipo.ToString(item.Viaje.Usuario.Pais.Moneda.First().Simbolo+"###,##0.00");}
                    @Html.DisplayFor(modelItem => ta)
                </td>
                <td style="text-align:right; padding-right: 30px;">
                    @{ var tas = (item.TotalAsignado * item.TasaCambio).ToString(item.Viaje.Usuario.Pais.Moneda.First().Simbolo + "###,##0.00");}
                    @Html.DisplayFor(modelItem => tas)
                </td>
                <td style="text-align:right; padding-right: 30px;">
                    @{ var dif = (item.TotalAnticipo - (item.TotalAsignado * item.TasaCambio)).ToString(item.Viaje.Usuario.Pais.Moneda.First().Simbolo + "###,##0.00");}
                    @Html.DisplayFor(modelItem => dif)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Moneda.MonedaCambio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TasaCambio)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.IdEstado)
                </td>

            </tr>
                        }

    </table>

    Mostrando de @Model.FirstItemOnPage a @Model.LastItemOnPage De @Model.TotalItemCount
    @Html.PagedListPager(Model, page => Url.Action("IndexLiquidacion",
    new
    {
        page,
        sortOrder = ViewBag.CurrentSort,
        currentFilter = ViewBag.CurrentFilter,
        SearchString = ViewBag.CurrentFilter
    }))

    <p class="text-info" style="font-size: 10px;">
        <strong>@web.Models.Estado.Creado:</strong>  Solicitud guardada. <br />
        <strong>@web.Models.Estado.Terminado:</strong>  Solicitud enviada para revisión.<br />
        <strong>@web.Models.Estado.Validado:</strong>  Solicitud validada en espera de aprobación.<br />
        <strong>@web.Models.Estado.Aprobado:</strong>  Solicitud aprobada en espera de ser procesada.<br />
        <strong>@web.Models.Estado.Finalizado:</strong> Solicitud procesada.
    </p>
</div>